@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.in-folder-container {
  margin: 2rem;
}

.in-folder-button {
  font-family: "Roboto", sans-serif;
  background-color: lightseagreen;
  padding: 0.5rem;
  border: solid thin;
  font-size: 12px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  margin: 0.11rem;
}

.in-folder-search {
  font-size: 16px;
  outline: 0;
  border: 1px solid gray;
  border-radius: 15px;
  background: transparent;
  height: 32px;
  width: 170px;
  padding-left: 15px;
}
