* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.plant-map-container {
  font-family: Roboto, sans-serif;
  margin-top: 0rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.plant-button {
  margin-top: 1rem;
  background: #fff;
  box-shadow: 0px 8px 20px rgba(34, 35, 58, 0.5);
  width: 60vw;
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 25px;
  position: relative;
}

.card-type {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}

.plant-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
