@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.plant-map-container {
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.plant-button {
  margin-top: 1rem;
  background: #fff;
  box-shadow: 0px 8px 20px rgba(34, 35, 58, 0.5);
  width: 60vw;
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 25px;
  position: relative;
}

.card-type {
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.plant-name {
  padding-bottom: 1rem;
  font-size: 20px;
}

.image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.delete-button {
  font-family: "Roboto", sans-serif;
  margin-top: 0.5rem;
  height: 2rem;
  width: 3rem;
  font-size: 16px;
  outline: 0;
  border: 1px solid gray;
  border-radius: 15px;
  background: transparent;
}
