//variables
$primary-color: #819eab;
$primary-font: "Bree Serif", serif;
$secondary-font: "Open Sans", sans-serif;
$background-color: #f0efeb;
$font-color: #3d3d3d;

//mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin loginButton {
  background-color: $primary-color;
  color: white;
  width: 150px;
  height: 32px;
  border: none;
  border-radius: 14px;
  font-family: $secondary-font;
  font-size: 16px;
}

@mixin inputBox($width-value, $height-value, $font-size) {
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  width: $width-value;
  height: $height-value;
  font-size: $font-size;
  font-family: $secondary-font;
}

@mixin plantButton {
  width: 60vw;
  height: 8vh;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #b7b7a4;
  color: white;
}

@mixin folderButton {
  width: 70vw;
  height: 10vh;
  border: none;
  border-radius: 10px;
  margin-top: 2px;
  background-color: #ddbea9;
}

//resets
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//fonts
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap");
