.info-container{
    @include flexCenter;
    flex-direction: column;
    padding: 10%;
    height: 100vh;
    color: white;

    h1{
        font-family: $primary-font;
    }

    h2{
        font-family: $secondary-font;
    }

    p{
        font-family: $secondary-font;
        
    }
    
    button{
        @include loginButton;
        margin-top: 15px;
    }

    .bg-image{
  
        background-image: url('../assets/forrest.jpg');
        opacity: 95%;
        background-repeat: no-repeat;
        position: fixed; 
        min-height: 100%;
        width:100vw;
        background-size: cover;
        z-index: -2;
    
    }
    
}