@import "config";

.info-container {
  @include flexCenter;
  flex-direction: column;
  padding: 5%;
  color: black;

  h1 {
    font-family: $primary-font;
    color: $font-color;
    font-size: 44px;
  }

  h2 {
    font-family: $secondary-font;
    color: $font-color;
    font-size: 20px;
  }

  p {
    font-family: $secondary-font;
    color: $font-color;
    padding: 5%;
    font-size: 15px;
    font-weight: 600;
  }

  .info-button {
    padding: 3px;
  }

  button {
    @include loginButton;
  }

  .bg-image-container {
    height: 300px;

    .bg-image {
      height: 100%;
      width: auto;
    }
  }
}

@media only screen and(min-width: 800px) {
  .info-container {
    h1 {
      font-size: 5px;
    }

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }

    .button-container {
      margin-top: 40px;
    }
  }
}
