.info-container{
    @include flexCenter;
    flex-direction: column;
    padding: 10%;

    h1{
        font-family: $primary-font;
    }

    h2{
        font-family: $secondary-font;
    }

    p{
        font-family: $secondary-font;
        
    }
}