@import 'config';

.login-button{
    @include loginButton;
    margin-top: 20px;
}

.login-container{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
}

.image-container{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.2)
      ), url('../assets/muir-wood.jpg');

    opacity: 95%;
    background-repeat: no-repeat;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-height: 100%;
    background-size: cover;

    h1{
        @include flexCenter;
        color: white;
        width: 50vw;
    }

    p{
        @include flexCenter;
        color: white;
        width: 50vw;
    }
   
}

.login-form-container{
    @include flexCenter;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    
    img{
        width: 300px;
    
    }
}


.input-container{
    

    input{
        @include inputBox;
        
    }
}