@import "config";

.bg-image {
  opacity: 95%;
  background-repeat: no-repeat;
  position: fixed;
  min-height: 100%;
  width: 100vw;
  background-size: cover;
  z-index: -2;
}

.input-container {
  @include flexCenter;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  input {
    @include inputBox(325px, 35px, 25px);
  }

  input:hover {
    opacity: 0.7;
  }

  ::placeholder {
    color: white;
  }

  h1 {
    font-family: $primary-font;
    color: white;
  }
  button {
    @include loginButton;
    margin-top: 15px;
  }
}
